* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(
      0,
      rgba(111, 255, 0, 0.5),
      rgba(66, 0, 255, 0.5)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOcfq1Ryu6ObQD73qTKgIkucnNtZlTB_vo5g&usqp=CAU);
  background-size: 100px;
  background-repeat: no-repeat;
  margin-top: 40px;
}
.position-relative {
  position: relative;
  left: 100px;
}
.box {
  width: 300px;
  height: 200px;
  background-color: crimson;
  position: relative;
}
.box2 {
  width: 250px;
  height: 150px;
  background-color: #ccc;
  position: absolute;
  right: 0;
}
.position-absolute {
  width: 100px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}
.position-fixed {
  width: 100%;
  height: 50px;
  background-color: rgba(53, 19, 148, 1);
  position: fixed;
  top: 0;
}
